<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>BABBAGE</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Nuestros<span>Heroes</span></h1>
        <nav>
          <!-- li*3>a para hacer varias listas -->
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <section id="content">
      <h2>Charles Babbage</h2>

      <img src="/images/charlesBabbage.jpg" alt="Babbage" />

      <p>
        Nacido en Teignmouth (Devonshire), Reino Unido, estudió matemáticas en
        el Trinity College y en el Peterhouse de Cambridge. Catedrático de
        matemáticas en la Universidad de Cambridge (1928-1939). 
        <p>
          Fue cofundador de la Analytical Society (1812) y fue uno de los promotores de la
          Astronomical Society (1820) y también tuvo relación con la fundación de
          la Sociedad de Estadística (1824) y de la Statistical Society (1834).
        </p> 
        <p> Con un espíritu crítico y una conciencia social definida, en Reflections
          on the Decline of Science in England (1830), atacó a los gobiernos
          conservadores por anteponer la afinidad política en el apoyo a los
          científicos, marginando a los progresistas y a los de condición humilde;
          en The Ninth Bridgewater Treatise (1837) cuestionó las bases teológicas
          de la religión anglicana. Otros libros de los que fue autor: Entre sus
          libros, Economy of machinery and manufactures (1832) y la autobiografía
          Passages from live of a Philosopher (1864). Su contribución al
          desarrollo del cálculo matemático es muy reconocido, como también lo fue
          en el desarrollo de la economía, pero su contribución más significativa
          fue en el campo de las máquinas analíticas, capaces de hacer operaciones
          repetitivas del cálculo matemático, que hoy son consideradas como el
          antecedente de las computadoras, ya que incorporaba procesos y elementos
          de programación básicos. La primera máquina diferencial (difference
          engine) fue construida en 1821, capacidad de resolver polinomios de
          segundo grado. En 1956, construyó la primera máquina analítica
          (analytical engine), una verdadera calculadora, con secuencia de
          entrada, unidad de proceso, memorización y salida de datos. En su
          trabajo colaboró, en la elaboración de la secuencia de programación Ada
          Augusta Byron, condesa de Lovelace, impulsora activa del proyecto de
          Babbage.
        </p>
       
      </p>
    </section>
  </body>
</html>
