<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>BERNERS-LEE</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Nuestros<span>Heroes</span></h1>
        <nav>
          <!-- li*3>a para hacer varias listas -->
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <section id="content">
      <h2>Tim Berners-Lee</h2>
      <img src="/images/berners.jpg" alt="Berners-Lee" />
      <p>
        El padre de las 3 W.- Para presentar a Tim Berners-Lee sólo hacen falta
        decir tres palabras: World Wide Web. Y es que él no es ni más ni menos
        que el creador de WWW, el sistema que hace posible que conozcamos a
        Internet tal cual es hoy en día; además de seguir siendo director del
        Consorcio World Wide Web (W3C), luego de haber impulsado su creación
        hacia 1994. Este británico que habita en los Estados Unidos, fue quien
        escribió el primer servidor World Wide Web, el Protocolo de
        transferencia de hipertexto (HTTP), concepto fundamental para la
        difusión masiva de Internet, en 1990. En 1997, fue hecho oficial de la
        Orden del Imperio Británico. 
        <p>Miembro de la Royal Society desde 2001.
          Recibió el Premio Príncipe de Asturias, compartido con Lawrence Roberts,
          Robert Kahn y Vinton Cerf en la categoría de investigación científica y
          técnica en 2002. El 16 de julio de 2004, la reina Isabel II le concedió
          por su trabajo pionero el rango Knight Commander, la Orden más
          sobresaliente del Imperio Británico. En abril de 2009, fue elegido
          asociado extranjero de la Academia Nacional de Ciencias de los Estados
          Unidos. Desde 2011, pertenece al consejo de administración de la
          Fundación Ford. En 2012 se le hizo miembro del Salón de la Fama de
          Internet por la Internet Society. Apareció en la lista de la revista
          Time de las 100 personas más importantes del siglo XX.
        </p> 
      </p>
    </section>
  </body>
</html>
