<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>CLARKE</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Nuestros<span>Heroes</span></h1>
        <nav>
          <!-- li*3>a para hacer varias listas -->
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
          </ul>
        </nav>
      </header>

      
    </div>
    <section id="content">
      <h2>Joan Clarke</h2>
      <img src="/images/clarke.jpg" alt=" Joan Clarke" />
      <p>Joan Clarke, matemática y criptoanalista, tuvo un rol central en la hazaña que implicó descifrar el Código Enigma utilizado por los alemanes, durante la Segunda Guerra Mundial. La británica trabajó codo a codo junto a Alan Turing y su equipo para desentrañar el funcionamiento de ese sistema que se usaba para codificar mensajes.

        Fue la única mujer en integrar este grupo ultra secreto que tuvo un rol fundamental durante ese período bélico. Sin su trabajo y el del resto de los especialistas, la guerra podría haber tenido otro desenlace.
      </p>
      <p>Su ingenio la destacó ante el resto y su profesor de Geometría, Gordon Welchman, la convocó para trabajar en Bletchley Park para la Escuela Gubernamental de Código y Cifrado (GCCS), que tenía como finalidad descifrar cómo funcionaba la máquina Enigma que utilizaban los alemanes para comunicarse de manera secreta.
        Clarke recibió en 1947 la Orden del Imperio Británico por su trabajo durante la Segunda Guerra Mundial.</p>
        <p>La matemática, que siempre tuvo un perfil bajo y nunca habló demasiado sobre sus días en Bletchley Park, falleció en 1996 en Oxfordshire.</p>
    </section>
  </body>
</html>
