<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>HOPPER</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Nuestros<span>Heroes</span></h1>
        <nav>
          <!-- li*3>a para hacer varias listas -->
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
          </ul>
        </nav>
      </header>
      
    </div>
      <section id="content">
        <h2>Grace Hopper</h2>
        <img src="/images/hopper.jpg" alt="" />
        <p>
          Grace Murray Hopper, nació un 9 de diciembre del año 1909, en la
          ciudad de Nueva York. En su familia encontraría el apoyo para
          dedicarse profesionalmente a cuestiones tan asociadas con lo masculino
          como la milicia; su abuelo, quien supo ser su gran referente fue
          almirante de la armada. s.
        </p>
        <p>Mientras que sus padres siempre animaron su
          inclinación por las matemáticas y la mecánica. Se graduó en las
          carreras de matemática y física y asimismo haría estudios de posgrado
          al respecto. En los primeros años de la década del cuarenta del siglo
          pasado, durante el desarrollo de la Segunda Guerra Mundial, se alista
          en la armada. Se graduó con honores y al tiempo se le asignaría la
          misión de trabajar en materia computacional en la Universidad de
          Harvard. En este tiempo contribuye en el desarrollo del mencionado
          Mark I. También trabajaría en varias compañías desarrollando
          importantes avances para la computación. Su trabajo en materia de
          programación fue clave para desarrollar el programa COBOL. En el año
          1986 se retira de la armada, habiendo conseguido el hito de ser el
          miembro más antiguo de la misma. Tras su retiro se dedica al
          asesoramiento de empresas de computación y a brindar conferencias en
          las que repartía toda su experiencia y conocimiento</p>
        
      </section>
   
  </body>
</html>
