<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>INDEX</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Nuestros<span>Heroes</span></h1>
        <nav>
          <!-- li*3>a para hacer varias listas -->
          <ul class="menu">
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <section id="content">
      <h2>HOME</h2>
      <img src="/images/home.jpg" alt="Informatica" />
      <h4>Bienvenido a nuestra página:</h4>
      <p>
         En ella te invitamos a recorrer un poco de la historia de estos celebres
        personajes. Sin duda alguna son eminencias que nos han dejado un legado invaluable.
      </p>
    </section>
  </body>
</html>
