<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>LOVELACE</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Nuestros<span>Heroes</span></h1>
        <nav>
          <!-- li*3>a para hacer varias listas -->
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/turing">Turing</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <section id="content">
      <h2>Ada Lovelace</h2>
      <img src="/images/lovelace.webp" alt="Lovelace" />
      <p>
        Augusta Ada King, más conocida como Ada Lovelace no fue una mujer
        convencional de la época victoriana. Su vida no pasaba por lucir
        vestidos a la moda ni por comportarse según las rígidas normas de la
        época. Ella era una apasionada de las matemáticas que se animó a
        explorar el pensamiento abstracto mucho más allá de lo que “era
        aconsejable” para las mujeres. Su pasión y esmero dio resultados: creó
        lo que hoy se conoce como el primer algoritmo pensado para ser procesado
        por una máquina. De ahí que se la considera la primera programadora de
        computadoras. 
      </p>
      <p>Lovelace nació el 10 de diciembre de 1815, en Londres.
        Alentada por su madre, que era matemática, se adentró en el universo de
        los números desde muy joven. Entabló una amistad con el matemático
        Charles Babbage, para quien tradujo, entre 1842 y 1843, un escrito en
        italiano sobre la máquina analítica. Pero Lovelace no sólo se limitó a
        traducir sino que añadió unas notas con conclusiones de ella.</p> 
        <p> Ada escribió el algoritmo para calcular los valores de los números de
          Bernoulli utilizando dos bucles, detalló como hacer operaciones
          trigonométricas que empleaban variables en la máquina analítica de
          Babbage y definió el uso de tarjetas perforadas para programar la
          máquina.</p>
    </section>
  </body>
</html>
